services:
  jito-bell:
    build:
      context: .
      dockerfile: Dockerfile
    image: jito-bell
    container_name: jito-bell
    environment:
      - RUST_LOG=${RUST_LOG:-debug}
      - ENDPOINT=${ENDPOINT}
      - X_TOKEN=${X_TOKEN}
      - ACCOUNT_INCLUDE=${ACCOUNT_INCLUDE}
      - CONFIG_FILE=${CONFIG_FILE}
      - SOLANA_METRICS_CONFIG=${SOLANA_METRICS_CONFIG}
      - SLACK_WEBHOOK_URL={SLACK_WEBHOOK_URL}
      - STAKE_POOL_ALERTS_SLACK_WEBHOOK_URL={STAKE_POOL_ALERTS_SLACK_WEBHOOK_URL}
      - DISCORD_WEBHOOK_URL={DISCORD_WEBHOOK_URL}
      - TELEGRAM_BOT_TOKEN={TELEGRAM_BOT_TOKEN}
      - TELEGRAM_CHAT_ID={TELEGRAM_CHAT_ID}
      - TWITTER_BEARER_TOKEN={TWITTER_BEARER_TOKEN}
      - TWITTER_API_KEY={TWITTER_API_KEY}
      - TWITTER_API_SECRET={TWITTER_API_SECRET}
      - TWITTER_ACCESS_TOKEN={TWITTER_ACCESS_TOKEN}
      - TWITTER_ACCESS_TOKEN_SECRET={TWITTER_ACCESS_TOKEN_SECRET}
    volumes:
      - ./jito_bell_config.yaml:/jito_bell_config.yaml
    restart: unless-stopped
